/.idea
/shelf/
/workspace.xml
/src/test.py
/input/CLUF_result.csv
/input/github/activemq
/input/github/atlas
/input/github/beam
/input/github/calcite
/input/github/camel
/input/github/curator
/input/github/drill
/input/github/gobblin
/input/github/hbase
/input/github/hudi
/input/github/maven
/input/github/zeppelin
/output/flume/flume-1.6.0/flume-1.6.0
/output/flume/flume-1.6.0/DesigniteJava
/output/kylin/kylin-1.5.1/kylin-1.5.1
/output/kylin/kylin-1.5.1/DesigniteJava